
    
body {
    background-color:cadetblue;




}

.top{
color: rgb(15, 15, 77);
 font-size: large;
    font-style:inherit;
    font-weight: 500;
    font-family: sans-serif;
 
text-align: center;
margin-bottom: 0%;
gap: 0px;
padding: 0px;

}
.top{
  background-image: url('../../../Downloads/5651990.webp');
background-size:cover;

  
}

.profile {
  display: flex;
  align-items: center;
  gap: 185px;
  padding: 125px;
  margin-top: 0%;
  margin-bottom: 0%;
  text-align: center;
}

.profile img {
  width:255px;
  height:255px; 
  object-fit: cover;
  border-radius: 50%; 
  border-image: none;
  
 
}

.profile span {
  font-size: 35px;
  font-weight:bold;
  color:silver
  
  
}
 .profile{
background-image: url('../../../Downloads/5651990.webp');
background-size: cover;
  
}




.about{
    font-size:small;
    font-style: oblique;
    color:rgb(9, 6, 89) ;
    text-align: center;

}

.skills{
font-weight: 500;
    font-size: large;
    font-style: oblique;
    text-align: center;
}
.projects{
font-size: x-large;

}
.footer{
    font-size: small;
    font-style: oblique;
   font-weight: lighter;
    color: silver;

}
 